@font-face {
  font-family: 'Sacramento';
  src: url(./fonts/Sacramento-Regular.ttf);
}

.App {
  text-align: center;
  font-size: 1.4rem;
}

#timer{
  font-size: 6rem;
  color: rgb(217, 255, 0);
  margin: 2rem 0 0.75rem;
  font-family: 'Sacramento';
  text-shadow: 0 5px 5px rgb(0, 0, 0);
}

.customTimeInput{
  font-size: 2.3rem;
  font-family: 'Sacramento';
  border-radius: 0.5rem;
  background-color: rgb(240, 250, 174);
  text-align: center;
  width: 17rem;
  margin: 0 0 1.75rem;
  border-style: none;
  box-shadow: 0 5px 10px rgb(0, 0, 0);
}

.customBtn{
  border-style: none;
  border-radius: 1rem;
  font-size: 3.5rem;
  font-family: 'Sacramento';
  margin: 1rem;
  color: rgb(223, 248, 0);
  text-shadow: 0 5px 10px rgb(0, 0, 0);
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  background-color: rgb(62, 63, 0);
}